root = true

[*.{c,cc,h,json,txt,md,yml}]

indent_size = 2
indent_style = space
tab_width = 2

insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile]

insert_final_newline = true
trim_trailing_whitespace = true
