/config/ImageMagick.rdf
/config/*.dox
/config/config.h
/config/configure.xml
/config/delegates.xml
/config/policy.xml
/config/stamp-h1
/config/type-apple.xml
/config/type-dejavu.xml
/config/type-ghostscript.xml
/config/type-urw-base35.xml
/config/type-windows.xml
/config/type.xml

/Magick++/bin/Magick++-config
/Magick++/demo/analyze
/Magick++/demo/button
/Magick++/demo/demo
/Magick++/demo/detrans
/Magick++/demo/flip
/Magick++/demo/gravity
/Magick++/demo/piddle
/Magick++/demo/shapes
/Magick++/demo/zoom
/Magick++/tests/appendImages
/Magick++/tests/attributes
/Magick++/tests/averageImages
/Magick++/tests/coalesceImages
/Magick++/tests/coderInfo
/Magick++/tests/color
/Magick++/tests/colorHistogram
/Magick++/tests/exceptions
/Magick++/tests/geometry
/Magick++/tests/montageImages
/Magick++/tests/morphImages
/Magick++/tests/readWriteBlob
/Magick++/tests/readWriteImages

/MagickCore/MagickCore-config
/MagickCore/magick-baseconfig.h
/MagickCore/threshold-map.h
/MagickCore/version.h

/MagickWand/MagickWand-config

/PerlMagick/*.a
/PerlMagick/**/*.bs
/PerlMagick/**/*.c
/PerlMagick/**/*.json
/PerlMagick/**/*.yml
/PerlMagick/**/*.pm
/PerlMagick/**/*.xs
/PerlMagick/**/pm_to_blib
/PerlMagick/**/typemap
/PerlMagick/Zip.ps1
/PerlMagick/blib
/PerlMagick/check.sh

/tests/drawtest
/tests/validate
/tests/wandtest

/utilities/animate
/utilities/compare
/utilities/composite
/utilities/conjure
/utilities/display
/utilities/identify
/utilities/import
/utilities/magick
/utilities/mogrify
/utilities/montage
/utilities/stream

/ImageMagick.spec
/autom4te.cache
/config.log
/config.status
/common.shi
/libtool
/local.exp
/magick.sh
/perl-sources
/test-suite.log

.vscode

*~
*_out*
*.o
*.lo
*.log
*.la
*.pc
*.trs
.deps
.dirstamp
.libs
Makefile
Makefile.PL