//
//  Debug.xcconfig
//  ImageMagick
//
//  Created by Aleksandr Pesotskiy on 4/17/17.
//  Copyright © 2017 KROMTECH. All rights reserved.
//

#include "Common.xcconfig"

// following line may be uncommented for debugging purposes, but it is recommended to not turn off optimization because it increases performance tremendously.
//GCC_OPTIMIZATION_LEVEL = 0
ENABLE_TESTABILITY = YES
MTL_ENABLE_DEBUG_INFO = YES
LIBRARY_SEARCH_PATHS = $(inherited) "${SRCROOT}/lib/debug/"

IM_CONFIG_GCC_PREPROCESSOR_DEFINITIONS = DEBUG
