//
//  Debug.xcconfig
//  ImageMagick
//
//  Created by Aleksandr Pesotskiy on 4/17/17.
//  Copyright © 2017 KROMTECH. All rights reserved.
//

#include "Common.xcconfig"

GCC_OPTIMIZATION_LEVEL = 0
ENABLE_TESTABILITY = YES
MTL_ENABLE_DEBUG_INFO = YES
LIBRARY_SEARCH_PATHS = $(inherited) "${SRCROOT}/Dependencies/lib/debug/"

IM_CONFIG_GCC_PREPROCESSOR_DEFINITIONS = DEBUG
