name: Documentation Check for Magick++

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/doc_check.yml'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/doc_check.yml'
  workflow_dispatch:
  schedule:
    - cron: 0 6 * * *

jobs:
  doxygen-check:
    name: 'Documentation Check'
    runs-on: ubuntu-24.01 

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Python dependencies
        run: python -m pip install --user pyarrow beautifulsoup4 pandas lxml

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen

      - name: Compare documentation
        run: |
            diff=false
            # first generate the Magick++ documentation to be up to date with the current code
            cd config && doxygen Magick++.dox.in &> /dev/null
            cd ..

            # documentation files with function signatures that we can compare with their corresponding doxygen file (currently)
            DOC_HTML=("Blob.html" "CoderInfo.html" "Geometry.html" "Image++.html" "Montage.html" "Pixels.html")
            DOXY_HTML=("Blob.html" "CoderInfo.html" "Geometry.html" "Image.html" "Montage.html" "Pixels.html")  # Image.html is the only one that differs from the doxygen file
            for i in "${!DOC_HTML[@]}"; do
                python3 .github/scripts/compare_signatures.py www/Magick++/"${DOC_HTML[$i]}" www/api/Magick++/classMagick_1_1"${DOXY_HTML[$i]}"
                if [ $? -eq -1 ]; then
                    diff=true
                fi
                echo ""
            done

            if [ $diff ]; then
               echo "Mismatches detected!" && exit 1
            fi
            exit 0

